# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.

android/
.dart_tool/
.idea/
ios/
pubspec.lock
windows/
# **/*.g.dart
# **/*.freezed.dart
trash/

